body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#content-wrapper {
    margin-top: 10px;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

#rightcol-user-profile {
    margin-top: 20px;
    border-bottom: 1px solid #000000;
}

.profile-avatar-div {
    float: left;
}

.avatarimg {
    width: 100px;
    height: 100px;
}

.profile-btns-div .btn {
    margin-left: 20px;
    margin-bottom: 5px;
}

.profile-details-div {
    clear: left;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

}

.profile-details-request-div {
    margin-left: 10px;
}

.profile-details-subscribe-div {
    float: right;
}

.profile-details-avatar-div {
    float: left;
    margin-right: 10px;
}

.notice {
    border-bottom: 1px solid #000000;
}

.replies {
    margin-left: 20px;
}

.reply {
    border-bottom: 1px dashed #444444;
}

.main-profile {
    clear: both;
    padding-top: 20px;
}

.main-profile-avatar-div {
    float: left;
    margin-right: 10px;
}

.main-profile-buttons-div {
    float: right;
}

.main-profile-details-div {
    clear: none;
    padding-top: 0px;
}
