{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
    {% endblock %}{% endblock %}</title>

    {% block style_base %}
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/vnd.microsoft.icon"/>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
        <link href="{% static "css/psocial.main.css" %}" rel="stylesheet"/>
        {% block style_extra %}{% endblock %}
    {% endblock %}

    {% block viewport %}{% endblock %}

    {% block header_extra %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
<div id="wrapper">

    <!-- Navigation -->
    {% block top_navbar %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.name }}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> {{ profile.name }} <i
                                class="glyphicon glyphicon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/profile/{{ user.username }}"><i class="glyphicon glyphicon-list-alt"></i> User
                                Profile</a>
                            </li>
                            <li><a href="/profile/settings/{{ user.username }}"><i class="glyphicon glyphicon-cog"></i>
                                Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i
                                    class="glyphicon glyphicon-log-out"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                {% else %}
                    <li>
                        <a href="{% url 'django.contrib.auth.views.login' %}?next={{ request.get_full_path|urlencode }}"><i
                                class="glyphicon glyphicon-user"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
    {% endblock %}

    <div class="container" id="content-wrapper">
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-3">
                {% block left_col %}
                    {% include 'leftcol-normal.html' %}
                {% endblock %}
            </div> <!-- col-lg-3 -->

            <!-- Main content -->
            <div class="col-lg-6">
                {% for info_msg in messages %}
                    {% if 'success' in info_msg.tags %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p></p>{{ info_msg }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for error_msg in messages %}
                    {% if 'error' in error_msg.tags %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p>{{ error_msg }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% block main_content %}{% endblock %}
            </div> <!-- col-lg-6 -->

            <!-- Right Column -->
            <div class="col-lg-3">
                {% block right_col %}{% endblock %}

            </div> <!-- col-lg-3 -->
        </div> <!-- row -->
        <div class="row">
            <!-- Footer -->
            <div class="col-lg-12">
                {% block footer %}{% endblock %}
            </div> <!-- col-lg-12 -->
        </div> <!-- container -->
    </div> <!-- wrapper -->
    {% block script_base %}
        <script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% block script_extra %}{% endblock %}
    {% endblock %}

    {% block body_extra %}{% endblock %}
</body>
</html>
