{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block main_content %}
    <h1>{{ page_profile.name }} Follows:</h1>
    {% if user.is_authenticated and profile == page_profile %}
        <p><b><a href="{% url 'remote_follow_request' %}" %}">Add Remote Follow</a></b></p>
    {% endif %}
    <div class="main-following-list">
        {% for follow in following %}
            <div class="main-profile">
                <div class="main-profile-avatar-div">
                    <img class="avatarimg" src="{{ follow.target_account.avatar.url }}">
                </div>
                <div class="main-profile-buttons-div">
                    <a href="{% url 'unfollow' username=follow.target_account.username domain=follow.target_account.domain %}?next={{ request.path }}"
                       class="btn btn-primary">Unfollow</a>
                </div>
                <div class="main-profile-details-div">
                    <h4><a href="{{ follow.target_account.url }}">{{ follow.target_account.name }}</a></h4>
                    <p>Account: {{ follow.target_account.username }}@{{ follow.target_account.domain }}</p>
                    <p>{{ follow.target_account.location }}</p>
                    <p><a href="{{ follow.target_account.website }}">{{ follow.target_account.website }}</a></p>
                    <p>{{ follow.target_account.bio }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block right_col %}
    {% include 'rightcol-user-profile.html' %}
    {% include 'rightcol-following-list.html' %}
    <h4>Groups</h4>
    List here
    <hr>
    <h4>Lists</h4>
    List here
    <hr>
    <h4>Statistics</h4>
    Stats here
    <hr>
    <h4>Tags</h4>
    Tag Cloud Here
    <hr>
    <h4>Feeds</h4>
    List here
    <hr>
    <h4>Popular notices</h4>
    Notice list here
{% endblock %}
