<div id="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul>
            {% if user.is_authenticated %}
                <li>Home
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile/{{ user.username }}">Profile</a></li>
                        <li>Replies</li>
                        <li>Favourites</li>
                        <li>Bookmarks</li>
                        <li>Messages</li>
                    </ul>
                </li>
            {% endif %}
            <li>Public
                <ul>
                    <li>Network</li>
                    <li>Groups</li>
                    <li>Recent Tags</li>
                    <li>People</li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li>Groups</li>
                <li>Lists</li>
            {% endif %}
        </ul>
    </div>
</div>