<div class="notices'">
    {% for notice in notices %}
        {% if notice.content_type == 'psocial/follow' %}
            <div class="notice"><i>{{ notice.rendered }}</i>
                <p>at: {{ notice.updated_at }}</p>
            </div>
        {% elif notice.content_type == 'psocial/followed' %}
            <div class="notice"><i>{{ notice.rendered }}</i>
                <p>at: {{ notice.updated_at }}</p>
            </div>
        {% elif notice.content_type == 'psocial/delete' %}
            <div class="notice"><i>{{ notice.rendered }}</i>
                <p>at: {{ notice.updated_at }}</p>
            </div>
        {% else %}
            <div class="notice">
                <div class="notice-header"><a href="{{ notice.profile.url }}">{{ notice.profile.name }}</a>
                    {% if notice.content_type == 'psocial/notice' %}posted
                    {% elif notice.content_type == 'psocial/repeat' %}repeated a notice by
                        <a href="{% if notice.repeat_of.profile.is_local %}/profile/{{ notice.repeat_of.profile.username }}{% else %}{{ notice.repeat_of.profile.url }}{% endif %}">{{ notice.repeat_of.profile.name }}</a>
                    {% elif notice.content_type == 'psocial/reply' %}replied to
                        <a href="/notice/{{ notice.reply_to.id }}">notice</a> by
                        <a href="{% if notice.reply_to.profile.is_local %}/profile/{{ notice.reply_to.profile.username }}{% else %}{{ notice.reply_to.profile.url }}{% endif %}">{{ notice.reply_to.profile.name }}</a>
                    {% endif %}
                </div>
                <div class="notice-content">{{ notice.rendered }}</div>
                <div class="notice-footer">at: {{ notice.updated_at }}
                    <ul>
                        <li><a href="/notice/{{ notice.pk }}">Permalink</a></li>
                        {% if user.is_authenticated %}
                            {% if notice.profile != profile %}
                                {% if profile in notice.favourited_by.all %}
                                    <li>
                                        <a href="/notice/unfavourite/{{ notice.pk }}?next={{ request.path }}">Unfavourite</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="/notice/favourite/{{ notice.pk }}?next={{ request.path }}">Favourite</a>
                                    </li>
                                {% endif %}
                                <li><a href="/notice/repeat/{{ notice.pk }}?next={{ request.path }}">Repeat</a></li>
                            {% else %}
                                <li><a href="/notice/delete/{{ notice.pk }}?next={{ request.path }}">Delete</a></li>
                            {% endif %}
                            <li><a href="/notice/reply/{{ notice.pk }}?next={{ request.path }}">Reply</a></li>
                        {% endif %}
                    </ul>
                    {% if notice.favourited_by.all %}
                        <div class="notice-favourited-by-list">
                            {% for who in notice.favourited_by.all %}
                                {% if who == notice.favourited_by.all|first %}
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% elif who == notice.favourited_by.all|last %}
                                    and
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% else %}
                                    ,
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% endif %}
                            {% endfor %}
                            favourited this.
                        </div>
                    {% endif %}
                    {% if notice.repeated_by.all %}
                        <div class="notice-repeated-by-list">
                            {% for who in notice.repeated_by.all %}
                                {% if who == notice.repeated_by.all|first %}
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% elif who == notice.repeated_by.all|last %}
                                    and
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% else %}
                                    ,
                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                {% endif %}
                            {% endfor %}
                            repeated this.
                        </div>
                    {% endif %}
                </div>
                {% if notice.replies.all %}
                    <div class="replies">
                        <h4>Replies:</h4>
                        {% for reply in notice.replies.all %}
                            <div class="reply">
                                <div class="reply-header"><a href="{{ reply.profile.url }}">{{ reply.profile.name }}</a>
                                    replied to
                                    <a href="/notice/{{ reply.reply_to.id }}">notice</a> by
                                    <a href="{% if reply.reply_to.profile.is_local %}/profile/{{ reply.reply_to.profile.username }}{% else %}{{ reply.reply_to.profile.url }}{% endif %}">{{ reply.reply_to.profile.name }}</a>
                                </div>
                                <div class="reply-content">
                                    {{ reply.rendered }}
                                </div>
                                <div class="reply-footer">at: {{ reply.updated_at }}
                                    <ul>
                                        <li><a href="/notice/{{ reply.pk }}">Permalink</a></li>
                                        {% if user.is_authenticated %}
                                            {% if reply.profile != profile %}
                                                {% if profile in reply.favourited_by.all %}
                                                    <li>
                                                        <a href="/notice/unfavourite/{{ reply.pk }}?next={{ request.path }}">Unfavourite</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="/notice/favourite/{{ reply.pk }}?next={{ request.path }}">Favourite</a>
                                                    </li>
                                                {% endif %}
                                                <li><a href="/notice/repeat/{{ reply.pk }}?next={{ request.path }}">Repeat</a>
                                                </li>
                                            {% else %}
                                                <li><a href="/notice/delete/{{ reply.pk }}?next={{ request.path }}">Delete</a>
                                                </li>
                                            {% endif %}
                                            <li><a href="/notice/reply/{{ reply.pk }}?next={{ request.path }}">Reply</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    {% if reply.favourited_by.all %}
                                        <div class="reply-favourited-by-list">
                                            {% for who in reply.favourited_by.all %}
                                                {% if who == reply.favourited_by.all|first %}
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% elif who == reply.favourited_by.all|last %}
                                                    and
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% else %}
                                                    ,
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                            favourited this.
                                        </div>
                                    {% endif %}
                                    {% if reply.repeated_by.all %}
                                        <div class="reply-repeated-by-list">
                                            {% for who in reply.repeated_by.all %}
                                                {% if who == reply.repeated_by.all|first %}
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% elif who == reply.repeated_by.all|last %}
                                                    and
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% else %}
                                                    ,
                                                    <a href="{% if who.is_local %}/profile/{{ who.username }}{% else %}{{ who.url }}{% endif %}">{{ who.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                            repeated this.
                                        </div>
                                    {% endif %}
                                    {% if reply.replies.all %}
                                        <div class="reply-replies">
                                        <a href="/notice/{{ reply.id }}">{% if reply.replies.all.count == 1 %}1 reply{% else %}{{ reply.replies.all.count }} replies{% endif %}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
