{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title_base %}{{ site.name }}{% endblock %}

{% block main_content %}
    {% include 'new-notice-widget.html' %}
    <h2>View Notice</h2>
    {% include 'notice-feed.html' %}
{% endblock %}

{% block right_col %}
    {% if user.is_authenticated %}
        {% include 'rightcol-user-profile.html' %}
    {% endif %}
    <h4>Trends</h4>
    Tag cloug here
    <hr>
    <h4>Popular notices</h4>
    Notice list here
{% endblock %}
