{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header_extra %}
    <link rel="alternate" href="{{ site.baseurl }}/profile/{{ page_profile.username }}/timeline/1.atom" type="application/atom+xml" title="Notice feed for {{ page_profile.name }} (Atom)"/>
{% endblock %}
{% block head_title_base %}{{ site.name }}{% endblock %}

{% block main_content %}
    {% include 'new-notice-widget.html' %}
    <h2>Timeline</h2>
    {% include 'notice-feed.html' %}
{% endblock %}

{% block right_col %}
    {% include 'rightcol-user-profile.html' %}
    {% include 'rightcol-following-list.html' %}
    <h4>Groups</h4>
    List here
    <hr>
    <h4>Lists</h4>
    List here
    <hr>
    <h4>Statistics</h4>
    Stats here
    <hr>
    <h4>Tags</h4>
    Tag Cloud Here
    <hr>
    <h4>Feeds</h4>
    List here
    <hr>
    <h4>Popular notices</h4>
    Notice list here
{% endblock %}
