{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title_base %}{{ site.name }}{% endblock %}

{% block main_content %}
    {% if remote_account %}
        <h3>Follow this user?</h3>
        <div class="profile-details-avatar-div"><img class="avatarimg" src="{{ remote_account.avatar.url }}"></div>
        <div class="profile-details-subscribe-div">
            <a href="/profile/remote_follow/{{ remote_account.username }}@{{ remote_account.domain }}"
               class="btn btn-primary">Subscribe</a>
        </div>
        <div class="profile-details-request-div">
            <h4><a href="{{ remote_account.url }}">{{ remote_account.name }}</a></h4>
            <p>Account: {{ remote_account.username }}@{{ remote_account.domain }}</p>
            <p>{{ remote_account.location }}</p>
            <p><a href="{{ remote_account.website }}">{{ remote_account.website }}</a></p>
            <p>{{ remote_account.bio }}</p>
        </div>
    {% else %}
        {% crispy remote_follow_form %}
    {% endif %}
{% endblock %}

{% block right_col %}
    {% include 'rightcol-user-profile.html' %}
    {% include 'rightcol-following-list.html' %}
    <h4>Groups</h4>
    List here
    <hr>
    <h4>Lists</h4>
    List here
    <hr>
    <h4>Statistics</h4>
    Stats here
    <hr>
    <h4>Tags</h4>
    Tag Cloud Here
    <hr>
    <h4>Feeds</h4>
    List here
    <hr>
    <h4>Popular notices</h4>
    Notice list here
{% endblock %}
