<h4><a href="/profile/{{ page_profile.username }}/following">Following</h4>
<ul>
    {% for follow in following %}
        {% if follow.target_account.is_local %}
            <li>
                <a href="{% url 'psprofile.views.view_profile' follow.target_account.username %}">{{ follow.target_account.name }}</a>
            </li>
        {% else %}
            <li><a href="{{ follow.target_account.url }}">{{ follow.target_account.name }}</a></li>
        {% endif %}
    {% endfor %}
    {% if profile == page_profile %}
    <li><b><a href="{% url 'remote_follow_request' %}">Add Remote Follow</a></b></li>
    {% endif %}
</ul>

<hr>
<h4>Followers</h4>
<ul>
    {% for follow in followers %}
        {% if follow.account.is_local %}
            <li><a href="{% url 'psprofile.views.view_profile' follow.account.username %}">{{ follow.account.name }}</a>
            </li>
        {% else %}
            <li><a href="{{ follow.account.url }}">{{ follow.account.url }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<hr>
