<div id="rightcol-user-profile">
<div class="profile-avatar-div">
	<img src="{{ profile.avatar.url }}" class="avatarimg">
</div>
<div class="profile-btns-div">
	{% if not user.is_authenticated %}
	<button class="btn">Remote Subscribe</button>
	{% elif user.username == page_profile.username and site.domain == page_profile.domain %}
	<button class="btn">Edit</button>
	{% else %}
	<a href="/profile/follow/{{ page_profile.username }}" class="btn btn-primary">Local Subscribe</a>
	{% endif %}
	<button class="btn">Direct Message</button>
</div>
<div class="profile-details-div">
<p class="profile-name"><a href="/profile/{{ page_profile.username }}">{{ page_profile.name }}</a></p>
<p class="profile-location">{{ page_profile.location }}</p>
<p class="profile-url"><a href="{{ page_profile.url }}">{{ page_profile.url }}</a></p>
<p class="profile-bio">{{ page_profile.bio }}</p>
<p class="profile-tags">Tags:</p>
<ul>
{% for tag in page_profile.tags.all %}
	<li>#{{ tag }}</li>
{% endfor %}
</ul>
</div>
</div>
